extends ../layout

block content
    h1= user.email
    a(href="/sketches/new")
        div Create new sketch

//    each story in stories
//        #intro-wrapper
//            a(href='/stories/#{story._id}') #{story.title} by
//            a(href='/users/#{user._id}')  #{user.name}
//    div
//        each friend in friends
//            friend

