extends ../layout

block content
    h1= user.email
    .sketchList Sketches
        each sketch in sketches
            .sketchItem
                a(href='/sketches/#{sketch._id}') #{sketch.title}
        //a(href='/users/#{user._id}')  #{user.name}
    a(href="/sketches/new")
        div Create new sketch